.container {
    max-width: 600px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    margin: 10px;
    padding: 5px 15px;
}

#frequencySlider {
    width: 50%;
}


