.container {
    max-width: 800px;
    margin: 0 auto;
    }

#wave-container {
    width: 800px;
    height: 300px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    margin: 10px;
    padding: 5px 15px;
}

#frequencySlider {
    width: 50%;
}


